# Created by venv; see https://docs.python.org/3/library/venv.html
.env
# Emacs temporary files
*~
# TODO: Add idea stuff. Maybe someone would use PyCharm on this unworthy project. I'd recommend not. 
